includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    paths:
        - src
        - tests
    level: 9
    ignoreErrors:
        - '#Pest#'
    excludePaths:
        - tests/Pest.php
